{
    "printWidth": 120,
    "semi": false,
    "singleQuote": true,
    "trailingComma": "all",
    "braketSpacing": false,
    "arrowParens": "avoid",
    "insertPragma": false,
    "tabWidth": 4,
    "useTabs": false
}